.adminboost-preview-thumbnail {
    display: inline-block;
    margin-right: 5px;
}

.adminboost-sortable-inlines-stacked-placeholder {
    display:block;
    width:100%;
    height: 50px;
    background-color:#ddd;
    border:dashed 1px #999;
}

.ui-sortable-helper {
    margin:0;
}

.adminboost-sortable-inlines-handle{
    cursor: move;
    float:left;
}
.adminboost-sortable-inlines-handle+p {
    cursor: move;
    margin-left:10px;
}
