<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}adminboost/jquery-ui-1.8.4/ui-lightness/jquery-ui-1.8.4.custom.css" />
<style type="text/css">
    /* states and images */
    .drag-class{
        cursor: move;
        float:left;
    }
    .drag-class+p {
        cursor: move;
        margin-left:10px;
    }
</style>
<script type="text/javascript" src="{{ MEDIA_URL }}adminboost/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}adminboost/jquery-ui-1.8.4/jquery-ui-1.8.4.min.js"></script>
<script type="text/javascript">
    var no_conflict;
    if (window.$){
        no_conflict = false;
    } else {
        no_conflict = true;
    }
    var sortable_jquery = $.noConflict(no_conflict);
    (function($){
    $(document).ready(function(){
        var prefixes = [{% for prefix in prefixes %}"{{ prefix }}",{% endfor %}];
        $.each(prefixes, function(i, qs_name){
           //remove order fields from the form
            var $group = $("#" + qs_name + "-group");
            if ($group.length === 0){
                return true; // continue iteration
            }
            $group.find("th:contains(Order)").remove();
            $group.find(".order").remove();
            
            $group.find("th[colspan=2]").removeAttr("colspan");
            $group.find("th:first").attr("colspan", "2");

            var arrow = $('<span class="ui-icon ui-icon-arrowthick-2-n-s drag-class"></span>');
            $group.find("tr[class!=add-row]").each(function(){
                $(this).find("td:first").prepend(arrow.clone());
            });
            $("<tbody></tbody>").appendTo($group.find("table")).append($group.find(".add-row").remove());

            // add hidden fields container
            var $hidden = $("<div class='hidden_order_fields'></div>");
            $hidden.appendTo($group);


            var createUpdater = function(qs_name, $group, $hidden){
                /*
                Unfortunately this ugly function factory is indeed necessary
                Otherwise, function binded to $("submit").click (see the bottom of this file)
                will contain a reference, not a value and in the end instead of calling as many
                functions as there are {{ prefixes }}, it will call same one many times.                                
                */
                return function(event, ui){
                    // onUpdate event - update hidden fields
                    var txt = "";
                    var i = 0;
                    $group.find("tr[class~=dynamic-" + qs_name + "]").each(function(i, domEl){
                        var $row = $(domEl);
                        $row.find(".order").remove();
                        var row_num = $row.find("input:first").attr("name").match(/[0-9]+/);
                        if ($row.hasClass("empty-form")){
                            return true; // continue
                        }
                        // set colors, so the list doesn't look all weird
                        if (i % 2 == 0){
                            $row.removeClass("row2").addClass("row1");
                        }
                        else{
                            $row.removeClass("row1").addClass("row2");
                        }
                        txt += "<input type='hidden' name='" + qs_name + "-" + row_num + "-order' value='" + i + "' />";
                        i++;

                    });
                    $hidden.html(txt);
                };
            };

            // add sortable from jqueryui
            $group.find("table tbody:first").sortable({
                update: createUpdater(qs_name, $group, $hidden),

                //cancel: '.add-row',
                items: 'tr[class!=add-row]',
                handle: "td:first",
                distance: 6
            });
            createUpdater(qs_name, $group, $hidden)();
            
            $("form").submit(function(){
                createUpdater(qs_name, $group, $hidden)()
            });
        });
    });
})(sortable_jquery);
</script>
